@model MusicLibraryApp.Models.Home.CreateTuneModel

@{
	ViewData["Title"] = "Home Create";
}

@section HeaderText {
	<h2>@Resources.Resource.HomeCreateHeader</h2>
}

@section HeaderContent {
	<p class="display_username">@Resources.Resource.Greeting @Model.Username</p>
	<a class="link_type_c" asp-action="Index">@Resources.Resource.BackLink</a>
}

<div class="user-create-data-container">
	<form class="user-create-form" asp-action="Create" method="post" enctype="multipart/form-data">
		<div class="user-create-group-section">
			<div class="user-create-input-group">
				<input placeholder="@Resources.Resource.PlaceholderArtist" asp-for="Performer" />
				<span asp-validation-for="Performer" class="validation-message"></span>
				<hr />
				<input placeholder="@Resources.Resource.PlaceholderTitle" asp-for="Title" />
				<span asp-validation-for="Title" class="validation-message"></span>
				<hr />
				<select asp-for="CategoryId" class="form-control" asp-items="Model.Categories"></select>
				<span></span>
			</div>
			<div class="user-create-input-group">
				<p>@Resources.Resource.UploadAudio</p>
				<input type="file" asp-for="File" />
				<span asp-validation-for="File" class="validation-message"></span>
				<hr />
				<p>@Resources.Resource.UploadPoster</p>
				<input type="file" asp-for="Poster" />
				<span asp-validation-for="Poster" class="validation-message"></span>
			</div>
		</div>
		<div class="user-create-button-section">
			<button class="confirm-button" type="submit">@Resources.Resource.ButtonConfirm</button>
		</div>
	</form>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
