@model MusicLibraryApp.Models.Home.IndexModel

@{
	ViewData["Title"] = "Index";
}

@if (Model.User != null && Model.User.IsAdmin)
{
	@section HeaderNavigation {
	<a class="link_type_a" asp-controller="UsersManagement">USERS</a>
	<a class="link_type_a" asp-controller="UsersManagement">GENRES</a>
	}
}

@section HeaderSearch {
	<div>test</div>
}

@section HeaderContent {
	@if (Model.User == null)
	{
		<a class="link_type_b" asp-action="Login">LogIn</a>
		<a class="link_type_c" asp-action="Registration">SignUp</a>
	}
	else
	{
		<p class="display_username">hello, @Model.User.Username</p>
		<a class="link_type_c" asp-action="Logout">LogOut</a>
	}
}

<div class="filter">
	<h2>FEATURED GENRES</h2>
	<form method="get" asp-action="Index">
		<select name="selected" asp-for="Filter.Selected" asp-items="Model.Filter.Category" onchange="this.form.submit()"></select>
		@if (Model.User != null && Model.User.IsAuthorized)
		{
			<a class="link_type_d" asp-action="Create">Click here to upload your TUNE</a>
		}
	</form>
</div>

<section>
	<div class="pagination">
		@if (Model.Page.HasPreviousPage)
		{
			<a asp-action="Index"
			   asp-route-pageNumber="@(Model.Page.PageNumber - 1)"
			   asp-route-selected="@(Model.Filter.Selected)"
			   class="page-back">
			</a>
		}
	</div>

	<div class="tune-container">
		@if (Model.Tunes.Count() != 0)
		{
			@foreach (var tune in Model.Tunes)
			{
				<div class="tune-box">
					<div class="tune-item-image">
						<img src="@tune.PosterUrl" alt="@tune.Title" />
					</div>
					<div class="tune-box-content">
						<div class="tune-item-description">
							@if (Model.User != null && Model.User.IsAdmin)
							{
								<a asp-action="Edit">Click to Edit: @tune.Performer - @tune.Title</a>
							}
							else
							{
								<p>@tune.Performer - @tune.Title</p>
							}
						</div>
						<div class="tune-item-audio">
							<audio controls>
								<source src="@tune.FileUrl" type="audio/mpeg">
								Your browser does not support the audio element.
							</audio>
						</div>
					</div>
				</div>
			}
		}
		else
		{
			<h2 class="not_found">Nothing here...</h2>
		}
	</div>

	<div class="pagination">
		@if (Model.Page.HasNextPage)
		{
			<a asp-action="Index"
			   asp-route-pageNumber="@(Model.Page.PageNumber + 1)"
			   asp-route-selected="@(Model.Filter.Selected)"
			   class="page-forward">
			</a>
		}
	</div>
</section>
