@model MusicLibraryApp.Models.CategoryManagement.EditCategoryModel

@{
    ViewData["Title"] = "Edit Category";
}

@section HeaderText {
    <h2>GENRE EDITOR</h2>
}

@section HeaderContent {
    <p class="display_username">@Resources.Resource.Greeting @Model.Username</p>
    <a class="link_type_c" asp-action="Index">@Resources.Resource.BackLink</a>
}

<div class="user-create-data-container">
    <form class="user-create-form" asp-action="Edit" method="post" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        <div class="user-create-group-section">
            <div class="user-create-input-group">
                <input type="hidden" asp-for="CategoryId" />
                <input placeholder="@Resources.Resource.PlaceholderGenre" asp-for="Genre" />
                <span asp-validation-for="Genre" class="validation-message"></span>
                <a class="delete-link" href="#" data-id="@Model.CategoryId" data-controller="CategoryManagement">DELETE CATEGORY</a>
                <span></span>
            </div>
        </div>
        <div class="user-create-button-section">
            <button class="confirm-button" type="submit">@Resources.Resource.ButtonConfirm</button>
        </div>
    </form>
</div>

@section Scripts {
    @Html.Partial("_ValidationScriptsPartial")
    @Html.Partial("_ModalsDeleteConfirmationPartial")
    <script src="~/js/site.js"></script>
}