@model MusicLibraryApp.Models.CategoryManagement.IndexCategoryModel

@{
	ViewData["Title"] = "User Management";
}

@section HeaderNavigation {
	<a class="link_type_a" asp-controller="Home">@Resources.Resource.HomeLink</a>
	<a class="link_type_a" asp-controller="UserManagement">@Resources.Resource.UsersLink</a>
}

@section HeaderSearch {
	<div>test</div>
}

@section HeaderContent {
	<p class="display_username">@Resources.Resource.Greeting @Model.Username</p>
	<a class="link_type_c" asp-action="Logout" asp-controller="Account">LogOut</a>
}

<div class="filter">
	<h2>GENRE MANAGEMENT</h2>
	<form>
		<a class="link_type_d" asp-action="Create">@Resources.Resource.CreateGenreLink</a>
	</form>
</div>

<section>
	<div class="pagination">
		@if (Model.Page.HasPreviousPage)
		{
			<a asp-action="Index"
			   asp-route-pageNumber="@(Model.Page.PageNumber - 1)"
			   class="page-back">
			</a>
		}
	</div>

	<div class="tune-container">
		@if (Model.Categories.Count() != 0)
		{
			<div class="content-box">
				@foreach (var category in Model.Categories)
				{
					<a class="item" asp-action="Edit" asp-route-id="@category.Id">@category.Genre</a>
				}
			</div>
		}
		else
		{
			<h2 class="not_found">@Resources.Resource.NothingHere</h2>
		}
	</div>

	<div class="pagination">
		@if (Model.Page.HasNextPage)
		{
			<a asp-action="Index"
			   asp-route-pageNumber="@(Model.Page.PageNumber + 1)"
			   class="page-forward">
			</a>
		}
	</div>
</section>
