<div class="modal fade" id="deleteConfirmModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="deleteConfirmModalLabel">@Resources.Resource.ModalDeleteConfirmationTitle</h5>
			</div>
			<div class="modal-body">
				@Resources.Resource.ModalDeleteConfirmationBody
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">@Resources.Resource.ModalDeleteConfirmationButtonCancel</button>
				<button type="button" class="btn btn-danger" id="confirmDelete">@Resources.Resource.ModalDeleteConfirmationButtonConfirm</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="deleteSuccessModal" tabindex="-1" role="dialog" aria-labelledby="deleteSuccessModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="deleteSuccessModalLabel">@Resources.Resource.ModalDeleteSuccessTitle</h5>
			</div>
			<div class="modal-body">
				@Resources.Resource.ModalDeleteSuccessBody
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">@Resources.Resource.ModalDeleteSuccessButtonClose</button>
			</div>
		</div>
	</div>
</div>