@model MusicLibraryApp.Models.Account.LoginModel

@section HeaderText {
	<h2>@Resources.Resource.AccountLoginHeader</h2>
}

@section HeaderContent {
	<a asp-action="Registration" class="link_type_c">@Resources.Resource.RegistrationLink</a>
}

<div class="data-container">
	<form asp-action="Login" method="post">
		<input placeholder="@Resources.Resource.PlaceholderUsername" asp-for="Username" />
		<span asp-validation-for="Username" class="validation-message"></span>
		<hr />
		<input placeholder="@Resources.Resource.PlaceholderPassword" asp-for="Password" />
		<span asp-validation-for="Password" class="validation-message"></span>
		<hr />
		<button class="confirm-button" type="submit">@Resources.Resource.ButtonLogIn</button>
	</form>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}