@model MusicLibraryApp.Models.UserManagement.EditUserModel

@{
    ViewData["Title"] = "Edit User";
}

@section HeaderText {
    <h2>USER EDITOR</h2>
}

@section HeaderContent {
    <p class="display_username">@Resources.Resource.Greeting @Model.Username</p>
    <a class="link_type_c" asp-action="Index">@Resources.Resource.BackLink</a>
}

<div class="user-create-data-container">
    <form class="user-create-form" asp-action="Edit" method="post" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        <div class="user-create-group-section">
            <div class="user-create-input-group">
                <input type="hidden" asp-for="UserId" />
                <select asp-for="IsAuthorized" class="form-control" asp-items="Model.Authorization"></select>
                <span>@Resources.Resource.UsersEditWarningNew</span>
                <hr />
                <select asp-for="IsBlocked" class="form-control" asp-items="Model.Blocking"></select>
                <span>@Resources.Resource.UsersEditWarningBlocked</span>
                <hr />
                <a class="delete-link" href="#" data-id="@Model.UserId" data-controller="UserManagement">@Resources.Resource.ButtonDeleteUsers</a>
                <span></span>
            </div>
        </div>
        <div class="user-create-button-section">
            <button class="confirm-button" type="submit">@Resources.Resource.ButtonConfirm</button>
        </div>
    </form>
</div>

@section Scripts {
    @Html.Partial("_ValidationScriptsPartial")
    @Html.Partial("_ModalsDeleteConfirmationPartial")
    <script src="~/js/site.js"></script>
}