@model MusicLibraryApp.Models.UserManagement.EditUserModel

@{
    ViewData["Title"] = "Edit User";
}

@section HeaderText {
    <h2>USER EDITOR</h2>
}

@section HeaderContent {
    <p class="display_username">hello, @Model.Username</p>
    <a class="link_type_c" asp-action="Index">Back</a>
}

<div class="user-create-data-container">
    <form class="user-create-form" asp-action="Edit" method="post" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        <div class="user-create-group-section">
            <div class="user-create-input-group">
                <input type="hidden" asp-for="UserId" />
                <select asp-for="IsAuthorized" class="form-control" asp-items="Model.Authorization"></select>
                <span>Unathorized USERS will be moved to "New"</span>
                <hr />
                <select asp-for="IsBlocked" class="form-control" asp-items="Model.Blocking"></select>
                <span>Blocked USERS will be moved to "Blocked"</span>
                <hr />
                <a class="delete-link" href="#" data-id="@Model.UserId" data-controller="UserManagement">DELETE USER</a>
                <span></span>
            </div>
        </div>
        <div class="user-create-button-section">
            <button class="confirm-button" type="submit">Confirm</button>
        </div>
    </form>
</div>

@section Scripts {
    @Html.Partial("_ValidationScriptsPartial")
    @Html.Partial("_ModalsDeleteConfirmationPartial")
    <script src="~/js/site.js"></script>
}